/* You can add global styles to this file, and also import other style files */
@import "~highlight.js/styles/atom-one-light.css";
@import "@c4dt/angular-components/src/c4dt.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

:root {
  --disabled-grey: #575758;
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  background-color: white;
}

.full-size {
  height: 100%;
  width: 100%;
}
.width100 {
  width: 100%;
}

.center {
  text-align: center;
}

@media (prefers-color-scheme: dark) {
  .mat-typography,
  .mat-body,
  .mat-body-1,
  .mat-select-value,
  .mat-select,
  .mat-tab-label,
  .mat-tab-link,
  .mat-form-field,
  .mat-stepper-vertical,
  .mat-form-field-appearance-legacy .mat-form-field-label {
    color: var(--light-grey);
  }
  .mat-icon-button[disabled][disabled] {
    color: var(--disabled-grey);
  }
  .hljs,
  .mat-dialog-container {
    color: var(--light-grey);
    background-color: var(--dark-grey);
  }
  .mat-card {
    background-color: #212121;
  }
  pre.line-numbers {
    background-color: #111111 !important;
    color: var(--light-grey);
  }
  .mat-select-disabled .mat-select-value {
    color: var(--disabled-grey);
  }
  .mat-select-arrow,
  .mat-form-field-ripple {
    color: var(--light-grey);
  }
  .mat-form-field-underline {
    background-color: var(--disabled-grey) !important;
  }
  .mat-drawer {
    background-color: var(--dark-grey);
    color: var(--light-gray);
  }
  .mat-drawer-side.mat-drawer-end {
    border-color: var(--light-gray);
  }
  .mat-step-header {
    background-color: var(--light-blue);
  }
  .mat-step-header:hover {
    background-color: var(--blue);
  }

  .mat-vertical-content-container,
  .mat-stepper-vertical {
    background-color: var(--dark-grey);
  }
  .mat-stepper-vertical-line::before {
    border-left-color: var(--light-grey);
  }
  .success-true {
    background-color: var(--orange) !important;
    color: var(--dark-grey);
  }
  .mat-footer-row,
  .mat-header-row,
  .mat-row,
  td.mat-cell,
  td.mat-footer-cell,
  th.mat-header-cell {
    border-color: var(--disabled-grey);
    background-color: var(--dark-grey);
    color: var(--light-grey);
  }
  .mat-select-panel {
    background-color: var(--dark-grey) !important;
  }
  .mat-option {
    color: var(--light-gray);
  }
  .mat-hint {
    color: var(--disabled-grey);
  }
  .mat-input-element:disabled {
    color: var(--disabled-grey);
  }
}
