<div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="100px">
    <h1>Stainless Smart Contracts</h1>
    <button mat-icon-button title="Toggle tutorial" (click)="toggleTutorial()">
        <a>
            <mat-icon class="material-icons-outlined demo-main">help_outline</mat-icon>
        </a>
    </button>
</div>

<mat-sidenav-container class="tutorial">
    <mat-sidenav mode="side" position="end" opened="{{ tutorialOpen }}" class="tutorial">
        <div class="tutorial">
            <h1>
                Tutorial
            </h1>
            <p class="tutorial-step">
            Welcome to the tutorial for Stainless Smart Contracts!
            </p>
            <p class="tutorial-step">
            The following steps will show you the different parts of the demonstrator, and guide you through the process of verifying a Smart Contract, compiling it, deploying it and finally interacting with it on the ByzCoin blockchain.
            </p>
            <p class="tutorial-step">
            You can open and close this tutorial at any time using the
            <mat-icon class="material-icons-outlined tutorial">help_outline</mat-icon>
            button.
            </p>
            <p class="tutorial-step">
            For any question or issues with this tutorial, please send an email to <a href="mailto:christian.grigis@epfl.ch?subject=Stainless Demonstrator Tutorial">C4DT</a>.
            </p>
            <p class="tutorial-step">
            Enjoy!
            </p>

            <mat-vertical-stepper linear>
                <ng-template matStepperIcon="edit">
                    <mat-icon class="material-icons-outlined">done</mat-icon>
                </ng-template>
                <ng-template matStepperIcon="done">
                    <mat-icon class="material-icons-outlined">done</mat-icon>
                </ng-template>

                <mat-step label="Introduction">
                    <p class="tutorial-step">
                    <a href="https://stainless.epfl.ch/" target="_blank">Stainless</a> is a verification tool developed at Prof. Viktor Kunčak's <a href="https://lara.epfl.ch/" target="_blank">Laboratory for Automated Reasoning and Analysis</a>.
                    It performs formal verification of programs written in (a subset of) <a href="https://www.scala-lang.org/" target="_blank">Scala</a>, a high-level programming language developed at EPFL.
                    Formal verification is more powerful than traditional testing because it allows to check program correctness for all inputs, reporting counter-examples for failing checks.
                    </p>
                    <p class="tutorial-step">
                    An example application of Stainless is to <a href="https://stainless.epfl.ch/smart-contracts.html" target="_blank">verify Smart Contracts</a>, the programs that run on a blockchain.
                    Stainless can verify such contracts and generate Solidity code, the language used to write contracts for the Ethereum blockchain.
                    </p>
                    <p class="tutorial-step">
                    <a href="https://www.epfl.ch/labs/dedis/">Prof. Bryan Ford's Decentralized and Distributed Systems Lab</a> developed a blockchain called <a href="https://github.com/dedis/cothority/tree/master/byzcoin">OmniLedger</a> based on skipchains. An extension of OmniLedger allows the execution of Ethereum Smart Contracts by embedding an Ethereum Virtual Machine.
                    </p>
                    <p class="tutorial-step">
                    This demonstrator combines the two technologies, showing how Smart Contracts can be written and verified with Stainless, then deployed and executed on OmniLedger.
                    </p>

                    <div>
                        <button mat-icon-button title="Go to next step" matStepperNext>
                            <mat-icon class="material-icons-outlined">arrow_downward</mat-icon>
                        </button>
                    </div>
                </mat-step>

                <mat-step label="Components of the demonstrator">
                    The demonstrator is divided in two areas:
                    <ul>
                        <li>Project selection and source code on the left.</li>
                        <li>Management and interaction on the right.</li>
                    </ul>
                    <p class="tutorial-step">
                    <em>Projects</em> are a collection of related source files.
                    <br/>
                    The dropdown list at the top of the left pane allows you to select the project on which you wish to work. Once a project is selected, the various source files that compose it are displayed in a tabbed view underneath.
                    </p>
                    <p class="tutorial-step">
                    The controls on the right side of the screen allow you to manage your accounts, deploy new Smart Contracts on the blockchain, and interact with them.
                    <br/>
                    The next steps will go over these in more details.
                    </p>

                    <div>
                        <button mat-icon-button title="Go back to previous step" matStepperPrevious>
                            <mat-icon class="material-icons-outlined">arrow_upward</mat-icon>
                        </button>
                        <br/>
                        <button mat-icon-button title="Go to next step" matStepperNext>
                            <mat-icon class="material-icons-outlined">arrow_downward</mat-icon>
                        </button>
                    </div>
                </mat-step>

                <mat-step label="Lifecycle of a Smart Contract">
                    <p class="tutorial-step">
                    As mentioned before, Stainless Smart Contracts are written in a subset of Scala, and must follow certain rules (e.g. implement a <code>trait</code> that extends <code>Contract</code>, etc.)
                    </p>
                    <p class="tutorial-step">
                    The successful compilation of a Smart Contract by Stainless produces bytecode that can be run on an Ethereum Virtual Machine (EVM). This is very similar to using a Java compiler and running the resulting bytecode on a JVM.
                    </p>
                    <p class="tutorial-step">
                    Deploying the Smart Contract bytecode on an EVM executes its constructor and produces a new instance of this contract. The same Smart Contract can be deployed multiple times, producing many independent instances.
                    </p>
                    <p class="tutorial-step">
                    To interact with a Smart Contract instance, a user (or another contract) calls its methods. Two types of methods are available:
                    </p>
                    <dl>
                        <dt><em>Transactions</em></dt>
                        <dd>methods that modify the contract's state</dd>
                        <dt><em>View Methods</em></dt>
                        <dd>methods that do not modify the contract state, but possibly read it</dd>
                    </dl>

                    <div>
                        <button mat-icon-button title="Go back to previous step" matStepperPrevious>
                            <mat-icon class="material-icons-outlined">arrow_upward</mat-icon>
                        </button>
                        <br/>
                        <button mat-icon-button title="Go to next step" matStepperNext>
                            <mat-icon class="material-icons-outlined">arrow_downward</mat-icon>
                        </button>
                    </div>
                </mat-step>

                <mat-step label="A simple contract: Candy">
                    <p class="tutorial-step">
                    To illustrate this, we will start with a simple contract. Please ensure that <code>Candy</code> is selected from the <em>Available projects</em> list.
                    </p>
                    <p class="tutorial-step">
                    Examining the code, it can be seen that this contract models a bag of candies: it is initialized with the number of candies in the bag, and provides a method to eat some of them (if possible), and another to show the number of remaining candies.
                    </p>
                    <p class="tutorial-step">
                    The author of the contract also defined an <em>invariant</em>, which is a condition verified for the execution of any of the contract's methods: if the condition holds before starting execution, it must still hold at the end. This is typically the work that Stainless will perform.
                    <br/>
                    In our example, the invariant ensures proper candy accounting.
                    </p>

                    <div>
                        <button mat-icon-button title="Go back to previous step" matStepperPrevious>
                            <mat-icon class="material-icons-outlined">arrow_upward</mat-icon>
                        </button>
                        <br/>
                        <button mat-icon-button title="Go to next step" matStepperNext>
                            <mat-icon class="material-icons-outlined">arrow_downward</mat-icon>
                        </button>
                    </div>
                </mat-step>

                <mat-step label="Eating candy">
                    <p class="tutorial-step">
                    The first step is to verify the Smart Contract with Stainless. For this, click on the <mat-icon class="material-icons-outlined tutorial">check</mat-icon> button under the contract source code. Please be patient as this may take some time.
                    </p>
                    <p class="tutorial-step">
                    Once the verification is completed, a report will be displayed showing all the checks performed by Stainless, along with their status (valid or invalid). These cover the user-defined invariant, as well as other implicit checks (cast correctness, overflows, etc.).
                    </p>
                    <p class="tutorial-step">
                    Close the verification report and click on the <mat-icon class="material-icons-outlined tutorial">transform</mat-icon> button to compile the Smart Contract. As a result, the <em>Contracts</em> dropdown list on the right will now contain the <code>Candy</code> contract.
                    </p>
                    <p class="tutorial-step">
                    One more step is needed before being able to deploy the contract: the creation of an account.
                    <br/>
                    Indeed, on the EVM, every operation is performed on behalf of a given account. This allows contracts to e.g. decide whether particular actions can be executed or not, depending on who is calling the method.
                    <br/>
                    Click on the <mat-icon class="material-icons-outlined tutorial">add_box</mat-icon> button next to the <em>Accounts</em> list at the top to create a new account, giving it a name.
                    </p>
                    <p class="tutorial-step">
                    You can now deploy a new instance of the Candy contract by clicking on the <mat-icon class="material-icons-outlined tutorial">add_box</mat-icon> button next to the <em>Instances</em> list, and filling in the arguments needed by the constructor. In our case it is the initial number of candies, for example 100.
                    </p>
                    <p class="tutorial-step">
                    Once an instance is deployed, access to its methods becomes available. Try clicking on the <mat-icon class="material-icons-outlined tutorial">play_circle_outline</mat-icon> button next to the <code>getRemainingCandies</code> view method: the result should be the number of candies with which you created the instance.
                    </p>
                    <p class="tutorial-step">
                    Try now to click on the <mat-icon class="material-icons-outlined tutorial">play_circle_outline</mat-icon> button next to <code>eatCandy</code>: a dialog will ask you to fill in the method arguments, namely the number of candies to eat. Enter e.g. 58. The next call to <code>getRemainingCandies</code> should now show you the new balance.
                    </p>

                    <div>
                        <button mat-icon-button title="Go back to previous step" matStepperPrevious>
                            <mat-icon class="material-icons-outlined">arrow_upward</mat-icon>
                        </button>
                        <br/>
                        <button mat-icon-button title="Go to next step" matStepperNext>
                            <mat-icon class="material-icons-outlined">arrow_downward</mat-icon>
                        </button>
                    </div>
                </mat-step>

                <mat-step label="A real-life example: the DAO">
                    <p class="tutorial-step">
                    The <a href="https://en.wikipedia.org/wiki/The_DAO_(organization)" target="_blank">DAO</a> was a project using Smart Contracts in order to provide a digital, decentralized form of a venture capital fund. A few months after its launch in 2016, several vulnerabilities in its implementation were exploited during an attack that led to the loss of about 1/3 of the fund value ($50M). One of the vulnerabilities involved concerned recursive calls, and it is illustrated in this example. This will also allow us to show how Stainless can help identify such vulnerabilities.
                    </p>
                    <p class="tutorial-step">
                    Please select <code>DAO bad</code> from the <em>Available projects</em> list.
                    <br/>
                    This project defines two contracts, <code>DAO</code> and <code>Malicious</code>. The former one models an extremely simplified version of the DAO, with one user, focusing solely on keeping track of:
                    </p>
                    <ul>
                        <li><code>totalCoins</code>, the total fund amount</li>
                        <li><code>userBalance</code>, the current amount invested in the fund by the user</li>
                        <li><code>contractBalance</code>, the remaining amount in the fund (not invested by the user)</li>
                    </ul>
                    <p class="tutorial-step">
                    DAO also provides the <code>withdrawBalance()</code> method, allowing to transfer back to the user his investment. The implementation of this method will send the user its balance calling its <code>transfer()</code> method, and perform some accounting.
                    <p class="tutorial-step">
                    The second contract models a malicious user who will try to exploit a vulnerability in the DAO. Indeed, in his <code>transfer()</code> implementation, he will try to recursively call the DAO's <code>withdrawBalance()</code> a number of times, which will trigger a call to <code>transfer()</code>, and so forth.
                    <br/>
                    Let's see what happens.
                    </p>
                    <p class="tutorial-step">
                    We will skip verification for now and go ahead. As before, compile the source code using the <mat-icon class="material-icons-outlined tutorial">transform</mat-icon> button. This time, two contracts appear in the <em>Contracts</em> dropdown: <code>DAO</code> and <code>Malicious</code>.
                    </p>
                    <p class="tutorial-step">
                    As the deployment of <code>DAO</code> requires an instance of <code>Malicious</code>, we create the latter first. Select <code>Malicious</code> in the <em>Contracts</em> list, and click on the <mat-icon class="material-icons-outlined tutorial">add_box</mat-icon> button next to the <em>Instances</em> list. Next, click on the <mat-icon class="material-icons-outlined tutorial">file_copy</mat-icon> button just before, which will copy the address of the newly created instance to the clipboard.
                    </p>
                    <p class="tutorial-step">
                    We are now ready to deploy the DAO. Select <code>DAO</code> in the <em>Contracts</em> list, and click on the <mat-icon class="material-icons-outlined tutorial">add_box</mat-icon> button next to the <em>Instances</em> list. Fill in 1000 in the total fund amount, 300 for the user balance, and paste the <code>Malicious</code> address for the user (usually CTRL-V).
                    <br/>
                    Once deployed, the state of the <code>DAO</code> instance can be verified calling its various <code>getXXX()</code> view methods.
                    </p>
                    <p class="tutorial-step">
                    Execute now the <code>withdrawBalance</code> transaction. Once completed, check again the state of the <code>DAO</code> instance.
                    </p>
                    <p class="tutorial-step">
                    The user balance is correctly at 0, the contract balance is correctly at 700, but the fund balance is at 100. What happened?
                    </p>

                    <div>
                        <button mat-icon-button title="Go back to previous step" matStepperPrevious>
                            <mat-icon class="material-icons-outlined">arrow_upward</mat-icon>
                        </button>
                        <br/>
                        <button mat-icon-button title="Go to next step" matStepperNext>
                            <mat-icon class="material-icons-outlined">arrow_downward</mat-icon>
                        </button>
                    </div>
                </mat-step>

                <mat-step label="The DAO recursion bug">
                    <p class="tutorial-step">
                    If we now perform a verification of the Smart Contract by clicking on the <mat-icon class="material-icons-outlined tutorial">check</mat-icon> button, we see in the report that Stainless complains about an invalid check (you might need to scroll down in the report to find it): the postcondition in the <code>withdrawBalance()</code> method. More precisely, it means that Stainless cannot guarantee that the postcondition (the invariant here) holds after the execution of the method, even though it held at the beginning. Indeed, since the method contains an external call to <code>user.transfer()</code> in the middle, Stainless assumes that this call could alter the control flow and change the state variables, and cannot guarantee their values after the external call.
                    </p>
                    <p class="tutorial-step">
                    That is precisely what <code>Malicious</code> is exploiting: by calling recursively <code>withdrawBalance()</code>, the flow of execution uses again the <code>userBalance</code>, <strong>which has not yet been zeroed</strong>, resulting in the amount transferred multiple times.
                    </p>

                    <div>
                        <button mat-icon-button title="Go back to previous step" matStepperPrevious>
                            <mat-icon class="material-icons-outlined">arrow_upward</mat-icon>
                        </button>
                        <br/>
                        <button mat-icon-button title="Go to next step" matStepperNext>
                            <mat-icon class="material-icons-outlined">arrow_downward</mat-icon>
                        </button>
                    </div>
                </mat-step>

                <mat-step label="Fixing the DAO bug">
                    <p class="tutorial-step">
                    In light of the previous behavior, we can imagine a way to fix it, which is commonly listed as a security guideline when writing Smart Contracts: perform all state changes <strong>before</strong> calling an external entity. (Avoiding calling an external entity, if possible, is even better.)
                    </p>
                    <p class="tutorial-step">
                    Please select <code>DAO good</code> from the <em>Available projects</em> list.
                    <br/>
                    Examining the code, we can see that, accordingly, the only change in the code compared to the previous version is that the call to <code>user.transfer()</code> has been moved to the end of the method, after the balances have been changed.
                    </p>
                    <p class="tutorial-step">
                    Verify this code using Stainless by clicking on the <mat-icon class="material-icons-outlined tutorial">check</mat-icon> button. The Stainless report should now be all green; indeed, the postcondition in <code>withdrawBalance()</code> is now valid, because no matter how the execution flow is altered by the external call, the state variables will be correct.
                    </p>
                    <p class="tutorial-step">
                    Try to reproduce the same scenario we did with the faulty code: compile, deploy a <code>Malicious</code> instance, copy its address, deploy a <code>DAO</code> instance with 1000, 300 and the copied address. Check the balances, execute <code>withdrawBalance</code> and check the balances again.
                    <br/>
                    This time, the fund balance is correctly 700. Even though <code>Malicious</code> attempted the same attack by calling back into <code>DAO</code>, all the calls after the first one saw the <code>userBalance</code> at 0, and transferred nothing.
                    </p>
                    <p class="tutorial-step">
                    Stainless accurately validated the code as correct.
                    </p>

                    <div>
                        <button mat-icon-button title="Go back to previous step" matStepperPrevious>
                            <mat-icon class="material-icons-outlined">arrow_upward</mat-icon>
                        </button>
                        <br/>
                        <button mat-icon-button title="Go to next step" matStepperNext>
                            <mat-icon class="material-icons-outlined">arrow_downward</mat-icon>
                        </button>
                    </div>
                </mat-step>

                <mat-step label="Done">
                    <p class="tutorial-step">
                    This concludes this Stainless tutorial. Congratulations!
                    </p>
                    <p class="tutorial-step">
                    To explore Stainless more in detail, please go the the <a href="https://stainless.epfl.ch/smart-contracts.html" target="_blank">documentation</a> and visit the "<a href="https://github.com/epfl-lara/smart" target="_blank">GitHub public repository</a>.
                    <p class="tutorial-step">
                    If you have any question or remark, please do not hesitate to contact the <a href="mailto:christian.grigis@epfl.ch?subject=Stainless Demonstrator Tutorial">C4DT</a>.
                    </p>

                    <div>
                        <button mat-icon-button title="Go back to previous step" matStepperPrevious>
                            <mat-icon class="material-icons-outlined">arrow_upward</mat-icon>
                        </button>
                        <br/>
                        <button mat-icon-button title="Close tutorial" matStepperNext (click)="toggleTutorial()">
                            <mat-icon class="material-icons-outlined">arrow_downward</mat-icon>
                        </button>
                    </div>
                </mat-step>
            </mat-vertical-stepper>

        </div>
    </mat-sidenav>

    <mat-sidenav-content>

        <div fxLayout="row" fxLayoutAlign="center start" fxLayoutGap="30px">

            <div fxLayout="column" fxLayoutAlign="stretch stretch" fxFlex="60%">

                <mat-form-field>
                    <mat-label>Available projects</mat-label>
                    <mat-select [value]="projectSelectedIndex" (selectionChange)="selectProject($event.value)">
                        <mat-option *ngFor="let project of projects; let i = index" [attr.data-index]="i" [value]="i">{{ project.name }}</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-tab-group animationDuration="0ms">
                    <div *ngIf="projectSelectedIndex !== undefined">
                        <mat-tab *ngFor="let file of projectSourceFiles" label="{{ file.name }}">
                            <mat-card>
                                <mat-card-content class="code-area">
                                    <div fxLayout="row" fxLayoutAlign="start">
                                        <div>
                                            <pre class="line-numbers"><code>{{ getLineNumbers(file) }}</code></pre>
                                        </div>
                                        <div fxFlex="grow">
                                            <pre><code [highlight]="file.contents"></code></pre>
                                        </div>
                                    </div>
                                </mat-card-content>
                            </mat-card>
                        </mat-tab>
                    </div>
                </mat-tab-group>

                <div fxLayout="row" fxLayoutAlign="center stretch" fxLayoutGap="10px">
                    <button mat-icon-button title="{{ projectVerified ? 'View verification results' : 'Verify' }}" (click)="verify()">
                        <mat-icon class="material-icons-outlined demo-main">{{ projectVerified ? "check_circle_outline" : "check" }}</mat-icon>
                    </button>
                    <button mat-icon-button title="Compile" (click)="compile()" disabled="{{ projectCompiled }}">
                        <mat-icon class="material-icons-outlined demo-main">transform</mat-icon>
                    </button>
                </div>

            </div>

            <div fxLayout="column" fxLayoutAlign="stretch stretch">

                <div fxLayout="row" fxLayoutAlign="stretch stretch" fxFlexOffset="0px">
                    <mat-form-field fxFlexOffset="30px">
                        <mat-label>Accounts</mat-label>
                        <mat-select [value]="accountSelectedIndex" (selectionChange)="selectAccount($event.value)" disabled="{{ accounts.length === 0 }}">
                            <mat-option *ngFor="let account of accounts; let i = index" [attr.data-index]="i" [value]="i">
                                <code>{{ account.name }}</code>
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <button mat-icon-button title="Create new account" (click)="createAccount()" fxFlexOffset="10px">
                        <mat-icon class="material-icons-outlined demo-main">add_box</mat-icon>
                    </button>
                </div>

                <div fxLayout="row" fxLayoutAlign="stretch stretch" fxFlexOffset="80px">
                    <mat-form-field fxFlexOffset="30px">
                        <mat-label>Contracts</mat-label>
                        <mat-select [value]="contractSelectedIndex" (selectionChange)="selectContract($event.value)" disabled="{{ !projectCompiled }}">
                            <mat-option *ngFor="let contract of contracts; let i = index" [attr.data-index]="i" [value]="i">
                                <code>{{ contract.name }}</code>
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div fxLayout="row" fxLayoutAlign="stretch stretch" fxFlexOffset="0px">
                    <mat-form-field fxFlexOffset="50px">
                        <mat-label>Instances</mat-label>
                        <mat-select [value]="instanceSelectedIndex" (selectionChange)="selectInstance($event.value)" disabled="{{ contractSelectedIndex === undefined }}">
                            <div *ngIf="contractSelectedIndex !== undefined">
                                <mat-option *ngFor="let instance of instances; let i = index" [attr.data-index]="i" [value]="i">
                                    <code>instance #{{ i + 1 }}</code>
                                </mat-option>
                            </div>
                        </mat-select>
                    </mat-form-field>
                    <button mat-icon-button title="Copy instance address to clipboard" ngxClipboard *ngxClipboardIfSupported (click)="copyInstanceAddress()" disabled="{{ accountSelectedIndex === undefined || contractSelectedIndex === undefined || instanceSelectedIndex === undefined }}" fxFlexOffset="0px">
                        <mat-icon class="material-icons-outlined demo-main">file_copy</mat-icon>
                    </button>
                    <button mat-icon-button title="Deploy new instance" (click)="deploy()" disabled="{{ accountSelectedIndex === undefined || contractSelectedIndex === undefined }}" fxFlexOffset="5px">
                        <mat-icon class="material-icons-outlined demo-main">add_box</mat-icon>
                    </button>
                </div>

                <div fxLayout="row" fxLayoutAlign="stretch stretch" fxFlexOffset="20px">
                    <mat-form-field fxFlexOffset="70px">
                        <mat-label>Transactions</mat-label>
                        <mat-select [value]="transactionSelectedIndex" (selectionChange)="selectTransaction($event.value)" disabled="{{ instanceSelectedIndex === undefined }}">
                            <mat-option *ngFor="let t of transactions; let i = index" [attr.data-index]="i" [value]="i">
                                <code>{{ t }}</code>
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <button mat-icon-button title="Execute transaction" (click)="executeTransaction()" disabled="{{ instanceSelectedIndex === undefined || transactionSelectedIndex === undefined }}" fxFlexOffset="10px">
                        <mat-icon class="material-icons-outlined demo-main">play_circle_outline</mat-icon>
                    </button>
                </div>

                <div fxLayout="row" fxLayoutAlign="stretch stretch" fxFlexOffset="0px">
                    <mat-form-field fxFlexOffset="70px">
                        <mat-label>View methods</mat-label>
                        <mat-select [value]="viewMethodSelectedIndex" (selectionChange)="selectViewMethod($event.value)" disabled="{{ instanceSelectedIndex === undefined }}">
                            <mat-option *ngFor="let m of viewMethods; let i = index" [attr.data-index]="i" [value]="i">
                                <code>{{ m }}</code>
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <button mat-icon-button title="Execute view method" (click)="executeViewMethod()" disabled="{{ instanceSelectedIndex === undefined || viewMethodSelectedIndex === undefined }}" fxFlexOffset="10px">
                        <mat-icon class="material-icons-outlined demo-main">play_circle_outline</mat-icon>
                    </button>
                </div>

                <div fxLayout="row" fxLayoutAlign="stretch stretch" fxFlexOffset="0px">
                    <mat-form-field fxFlexOffset="120px" class="result">
                        <mat-label>Result</mat-label>
                        <input matInput disabled="true" value="{{ viewMethodResult }}">
                    </mat-form-field>
                </div>
            </div>

        </div>

    </mat-sidenav-content>
</mat-sidenav-container>
