.code-area {
    font-family: monospace;
    font-size: 1em;
    height: 50vh;
    overflow-x: auto;
    overflow-y: auto;
}

.verif-viewport {
    border: 1px solid black;
}

.success-true {
    background-color: lightgreen;
}

.success-false {
    background-color: salmon;
}

.status-valid {
    color: green;
    font-weight: bold;
}

.status-invalid {
    color: red;
    font-weight: bold;
}

.verif-results td {
    padding: 10px;
}

.verif-results th {
    padding: 10px;
}

mat-form-field.result {
    font-size: 20px;
}
