<div fxLayout="column" fxLayoutAlign="space-between fill" fxLayoutGap="50px">

    <div align="center"><h1>Stainless Smart Contracts</h1></div>

    <div fxLayout="row" fxLayoutAlign="space-between" fxLayoutGap="30px">

        <div fxLayout="column" fxLayoutAlign="top fill" fxFlex="45%">
            <mat-form-field>
                <mat-label>Available projects</mat-label>
                <mat-select [value]="projectSelectedIndex" (selectionChange)="selectProject($event.value)">
                    <mat-option *ngFor="let project of projects; let i = index" [attr.data-index]="i" [value]="i">{{ project.name }}</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-tab-group animationDuration="0ms">
                <div *ngIf="projectSelectedIndex !== undefined">
                    <mat-tab *ngFor="let file of projectSourceFiles" label="{{ file.name }}">
                        <mat-card>
                            <mat-card-content class="code-area">
                                <pre><code [highlight]="file.contents"></code></pre>
                            </mat-card-content>
                        </mat-card>
                    </mat-tab>
                </div>
            </mat-tab-group>

            <div fxLayout="row" fxLayoutAlign="left center" fxFlexOffset="0px">
                <mat-form-field fxFlexOffset="50px">
                    <mat-label>Identities (accounts)</mat-label>
                    <mat-select [value]="accountSelectedIndex" (selectionChange)="selectAccount($event.value)">
                        <mat-option *ngFor="let account of accounts; let i = index" [attr.data-index]="i" [value]="i">
                            <code>{{ account.name }} ({{ account.address.toString("hex").substr(0, 8) }})</code>
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <button mat-raised-button (click)="createAccount()" fxFlexOffset="10px">Create new</button>
            </div>

            <mat-divider></mat-divider>

            <div fxLayout="row" fxLayoutAlign="left center" fxFlexOffset="0px">
                <mat-form-field fxFlexOffset="50px">
                    <mat-label>Contracts</mat-label>
                    <mat-select [value]="contractSelectedIndex" (selectionChange)="selectContract($event.value)" disabled="{{ !projectCompiled }}">
                        <mat-option *ngFor="let contract of contracts; let i = index" [attr.data-index]="i" [value]="i">
                            <code>{{ contract.name }}</code>
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field fxFlexOffset="50px">
                    <mat-label>Instances</mat-label>
                    <mat-select [value]="instanceSelectedIndex" (selectionChange)="selectInstance($event.value)" disabled="{{ contractSelectedIndex === undefined }}">
                        <div *ngIf="contractSelectedIndex !== undefined">
                        <mat-option *ngFor="let instance of instances; let i = index" [attr.data-index]="i" [value]="i">
                            <code>#{{ i + 1 }} ({{ instance.toString("hex").substr(0, 8) }})</code>
                        </mat-option>
                        </div>
                    </mat-select>
                </mat-form-field>
                <button mat-raised-button (click)="deploy()" disabled="{{ accountSelectedIndex === undefined || contractSelectedIndex === undefined }}"
                                                             fxFlexOffset="10px">Deploy new</button>
            </div>

            <div fxLayout="row" fxLayoutAlign="left center" fxFlexOffset="10px">
                <mat-form-field fxFlexOffset="50px">
                    <mat-label>Transactions</mat-label>
                    <mat-select [value]="transactionSelectedIndex" (selectionChange)="selectTransaction($event.value)" disabled="{{ transactions === [] }}">
                        <mat-option *ngFor="let t of transactions; let i = index" [attr.data-index]="i" [value]="i">
                            <code>{{ t }}</code>
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <button mat-raised-button (click)="executeTransaction()" disabled="{{ instanceSelectedIndex === undefined || transactionSelectedIndex === undefined }}"
                                                                         fxFlexOffset="10px">Execute</button>
            </div>

            <div fxLayout="row" fxLayoutAlign="left center" fxFlexOffset="0px">
                <mat-form-field fxFlexOffset="50px">
                    <mat-label>View methods</mat-label>
                    <mat-select [value]="viewMethodSelectedIndex" (selectionChange)="selectViewMethod($event.value)" disabled="{{ viewMethods === [] }}">
                        <mat-option *ngFor="let m of viewMethods; let i = index" [attr.data-index]="i" [value]="i">
                            <code>{{ m }}</code>
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <button mat-raised-button (click)="executeViewMethod()" disabled="{{ instanceSelectedIndex === undefined || viewMethodSelectedIndex === undefined }}"
                                                                        fxFlexOffset="10px">Execute</button>
                <mat-form-field fxFlexOffset="50px" class="result">
                    <mat-label>Result</mat-label>
                    <input matInput disabled="true" value="{{ viewMethodResult }}">
                </mat-form-field>
            </div>
        </div>

        <div fxLayout="column" fxLayoutAlign="top" fxLayoutGap="10px">
            <button mat-raised-button (click)="verify()" fxFlexOffset="20vh" disabled="{{ projectVerified }}">Verify</button>
            <button mat-raised-button (click)="compile()" disabled="{{ projectCompiled }}">Compile</button>
        </div>

        <div fxLayout="column" fxLayoutAlign="bottom" fxFlex="45%">
            <cdk-virtual-scroll-viewport itemSize="10" class="verif-viewport" fxFlexFill>
                <div align="center" class="success-{{verificationSuccessful}}"><h2>Verification results</h2></div>
                <mat-divider></mat-divider>
                <table mat-table [dataSource]="verificationResults" *ngIf="verificationResults != undefined" width="100%" class="verif-results">

                    <ng-container matColumnDef="status">
                        <th mat-header-cell *matHeaderCellDef> Status </th>
                        <td mat-cell *matCellDef="let item"><div class="status-{{item.status}}"> {{ item.status }} </div></td>
                    </ng-container>

                    <ng-container matColumnDef="type">
                        <th mat-header-cell *matHeaderCellDef> Type </th>
                        <td mat-cell *matCellDef="let item"> {{ item.type }} </td>
                    </ng-container>

                    <ng-container matColumnDef="method">
                        <th mat-header-cell *matHeaderCellDef> Method </th>
                        <td mat-cell *matCellDef="let item"> {{ item.method }} </td>
                    </ng-container>

                    <ng-container matColumnDef="location">
                        <th mat-header-cell *matHeaderCellDef> Location </th>
                        <td mat-cell *matCellDef="let item">
                            <code>{{ item.position.file }}:{{ item.position.start[0] }}:{{ item.position.start[1] }}&rarr;{{ item.position.end[0] }}:{{ item.position.end[1] }}</code>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="['status', 'type', 'method', 'location']"></tr>
                    <tr mat-row *matRowDef="let row; columns: ['status', 'type', 'method', 'location'];"></tr>
                </table>
            </cdk-virtual-scroll-viewport>
        </div>

    </div>
</div>
