<div fxLayout="column" fxLayoutAlign="space-between fill" fxLayoutGap="50px">

    <div align="center"><h1>Stainless Smart Contracts</h1></div>

    <div fxLayout="row" fxLayoutAlign="space-between" fxLayoutGap="30px">

        <div fxLayout="column" fxLayoutAlign="top fill" fxFlex="60%">

            <mat-form-field>
                <mat-label>Available projects</mat-label>
                <mat-select [value]="projectSelectedIndex" (selectionChange)="selectProject($event.value)">
                    <mat-option *ngFor="let project of projects; let i = index" [attr.data-index]="i" [value]="i">{{ project.name }}</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-tab-group animationDuration="0ms">
                <div *ngIf="projectSelectedIndex !== undefined">
                    <mat-tab *ngFor="let file of projectSourceFiles" label="{{ file.name }}">
                        <mat-card>
                            <mat-card-content class="code-area">
                                <pre><code [highlight]="file.contents"></code></pre>
                            </mat-card-content>
                        </mat-card>
                    </mat-tab>
                </div>
            </mat-tab-group>

            <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
                <button mat-icon-button title="{{ projectVerified ? 'View verification results' : 'Verify' }}" (click)="verify()">
                    <mat-icon class="material-icons-outlined">{{ projectVerified ? "check_circle_outline" : "check" }}</mat-icon>
                </button>
                <button mat-icon-button title="Compile" (click)="compile()" disabled="{{ projectCompiled }}">
                    <mat-icon class="material-icons-outlined">transform</mat-icon>
                </button>
            </div>

        </div>

        <div fxLayout="column" fxLayoutAlign="top left">

            <div fxLayout="row" fxLayoutAlign="left center" fxFlexOffset="0px">
                <mat-form-field fxFlexOffset="30px">
                    <mat-label>Accounts</mat-label>
                    <mat-select [value]="accountSelectedIndex" (selectionChange)="selectAccount($event.value)" disabled="{{ accounts.length === 0 }}">
                        <mat-option *ngFor="let account of accounts; let i = index" [attr.data-index]="i" [value]="i">
                            <code>{{ account.name }}</code>
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <button mat-icon-button title="Create new account" (click)="createAccount()" fxFlexOffset="10px">
                    <mat-icon class="material-icons-outlined">add_box</mat-icon>
                </button>
            </div>

            <div fxLayout="row" fxLayoutAlign="left center" fxFlexOffset="80px">
                <mat-form-field fxFlexOffset="30px">
                    <mat-label>Contracts</mat-label>
                    <mat-select [value]="contractSelectedIndex" (selectionChange)="selectContract($event.value)" disabled="{{ !projectCompiled }}">
                        <mat-option *ngFor="let contract of contracts; let i = index" [attr.data-index]="i" [value]="i">
                            <code>{{ contract.name }}</code>
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="left center" fxFlexOffset="0px">
                <mat-form-field fxFlexOffset="50px">
                    <mat-label>Instances</mat-label>
                    <mat-select [value]="instanceSelectedIndex" (selectionChange)="selectInstance($event.value)" disabled="{{ contractSelectedIndex === undefined }}">
                        <div *ngIf="contractSelectedIndex !== undefined">
                            <mat-option *ngFor="let instance of instances; let i = index" [attr.data-index]="i" [value]="i">
                                <code>instance #{{ i + 1 }}</code>
                            </mat-option>
                        </div>
                    </mat-select>
                </mat-form-field>
                <button mat-icon-button title="Copy instance address to clipboard" ngxClipboard *ngxClipboardIfSupported (click)="copyInstanceAddress()" disabled="{{ accountSelectedIndex === undefined || contractSelectedIndex === undefined || instanceSelectedIndex === undefined }}" fxFlexOffset="0px">
                    <mat-icon class="material-icons-outlined">file_copy</mat-icon>
                </button>
                <button mat-icon-button title="Deploy new instance" (click)="deploy()" disabled="{{ accountSelectedIndex === undefined || contractSelectedIndex === undefined }}" fxFlexOffset="5px">
                    <mat-icon class="material-icons-outlined">add_box</mat-icon>
                </button>
            </div>

            <div fxLayout="row" fxLayoutAlign="left center" fxFlexOffset="20px">
                <mat-form-field fxFlexOffset="70px">
                    <mat-label>Transactions</mat-label>
                    <mat-select [value]="transactionSelectedIndex" (selectionChange)="selectTransaction($event.value)" disabled="{{ instanceSelectedIndex === undefined }}">
                        <mat-option *ngFor="let t of transactions; let i = index" [attr.data-index]="i" [value]="i">
                            <code>{{ t }}</code>
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <button mat-icon-button title="Execute transaction" (click)="executeTransaction()" disabled="{{ instanceSelectedIndex === undefined || transactionSelectedIndex === undefined }}" fxFlexOffset="10px">
                    <mat-icon class="material-icons-outlined">play_circle_outline</mat-icon>
                </button>
            </div>

            <div fxLayout="row" fxLayoutAlign="left center" fxFlexOffset="0px">
                <mat-form-field fxFlexOffset="70px">
                    <mat-label>View methods</mat-label>
                    <mat-select [value]="viewMethodSelectedIndex" (selectionChange)="selectViewMethod($event.value)" disabled="{{ instanceSelectedIndex === undefined }}">
                        <mat-option *ngFor="let m of viewMethods; let i = index" [attr.data-index]="i" [value]="i">
                            <code>{{ m }}</code>
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <button mat-icon-button title="Execute view method" (click)="executeViewMethod()" disabled="{{ instanceSelectedIndex === undefined || viewMethodSelectedIndex === undefined }}" fxFlexOffset="10px">
                    <mat-icon class="material-icons-outlined">play_circle_outline</mat-icon>
                </button>
            </div>

            <div fxLayout="row" fxLayoutAlign="left center" fxFlexOffset="0px">
                <mat-form-field fxFlexOffset="120px" class="result">
                    <mat-label>Result</mat-label>
                    <input matInput disabled="true" value="{{ viewMethodResult }}">
                </mat-form-field>
            </div>
        </div>

    </div>
</div>
